@keyframes example {
  0%   {background-color: red;

  }
  25%  {background-color: yellow;

  }
  50%  {background-color: blue;

  }
  100% {background-color: green;

  }
}

.wobble {
  transform: rotateY(40deg) rotateX(33deg) translateZ(0);

  perspective: 9999px;
  transform-style: preserve-3d;
  animation: ಠ_ಠ 5s infinite alternate ease-in-out -7.5s;

}


@keyframes ಠ_ಠ {
  100% { transform: rotateY(-40deg) rotateX(-43deg); }
}
