.a {
  width: 250px;
min-height: 250px;
  text-align: center;
  transform: perspective(400px) rotateY(45deg);
  -webkit-box-shadow: -34px 15px 100px 0px rgba(0,0,0,0.63);
  box-shadow: -34px 15px 100px 0px rgba(0,0,0,0.63);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.gold{
background-image: url("../../../../assets/img/medals/gold.jpg");
}
.silver{

  background-image: url("../../../../assets/img/medals/silver.jpg");
}
.bronze{

  background-image: url("../../../../assets/img/medals/bronze.jpg");
}

.achv-table {
  text-align: center;
}