<div class="card-header card-header-danger">
    <!-- colors: "header-primary", "header-info", "header-success", "header-warning", "header-danger" -->
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">

            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link show" data-toggle="tab" href="#lesson1">Write a Letter!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  show" data-toggle="tab" href="#lesson2">Who's Silent!!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson3">Let's Go For A Picnic</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  show" data-toggle="tab" href="#lesson4">Activity 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson5">Activity 5</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson6">Activity 6</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson7">Activity 7</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson8">Activity 8</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson9">Activity 9</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link show" data-toggle="tab" href="#lesson10">Activity 10</a>
                </li>

            </ul>
        </div>
    </div>
    <h3 class="w3-center" style="color: white">Mother Nature</h3>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="lesson1">
            <app-lesson1></app-lesson1>
        </div>
        <div class="tab-pane fade" id="lesson2">
            <app-lesson2></app-lesson2>
        </div>
        <div class="tab-pane fade" id="lesson3">
            <app-lesson3></app-lesson3>

        </div>
        <div class="tab-pane fade" id="lesson4">
            <app-lesson4></app-lesson4>

        </div>
        <div class="tab-pane fade" id="lesson5">
            <app-lesson5></app-lesson5>

        </div>

        <div class="tab-pane fade" id="lesson6">
            <app-lesson6></app-lesson6>

        </div>
        <div class="tab-pane fade" id="lesson7">
            <app-lesson7></app-lesson7>

        </div>
        <div class="tab-pane fade" id="lesson8">
            <app-lesson8></app-lesson8>

        </div>
        <div class="tab-pane fade" id="lesson9">
            <app-lesson9></app-lesson9>

        </div>
        <div class="tab-pane fade" id="lesson10">
            <app-lesson10></app-lesson10>

        </div> 


        

        <!-- chat bot embed inside the activity-page which is only for the students --> 

        <!--    chat bot chat window -->
        <a (click)="chatBoxStateChange()" class="chatButton" style="color: white">

            <!-- chat button -->
            <i class="fa fa-comments"></i>!</a>


        <!-- chat window container -->
        <!-- chat window dynamic control animation using [ngClass] -->
        <div class="w3-card-4 w3-white	" [ngClass]="{ 'w3-animate-bottom' :chatBoxStateOpen ,'chatBox':!chatBoxStateOpen}">
            <header class="w3-container w3-purple">
                <a (click)="chatBoxStateChange()" style="float: right; cursor: pointer ">
                    <i class="material-icons ">close</i>
                </a>
            </header>
            <!-- embed iframe generated from dialogflow with the project key -->
            <iframe height="450" width="350" src="https://console.dialogflow.com/api-client/demo/embedded/25b3e631-f83d-4f58-8a94-bbd0b3a64f88"></iframe>
        </div>






    </div>