<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="w3-panel w3-sand w3-leftbar">
        <span style="font-size:150px;line-height:0.6em;opacity:0.7">❝</span>
        <p class="w3-large" style="margin-top:-40px">
          <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus
            risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</i>
        </p>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>


  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-8">
      <div class="w3-panel w3-sand w3-leftbar">
        <span style="font-size:150px;line-height:0.6em;opacity:0.7">❝</span>
        <p class="w3-large" style="margin-top:-40px">
          <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus
            risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</i>
        </p>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-sm-8">
      <div class="w3-panel w3-sand w3-leftbar">
        <span style="font-size:150px;line-height:0.6em;opacity:0.7">❝</span>
        <p class="w3-large" style="margin-top:-40px">
          <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non massa vitae risus fermentum ullamcorper. Phasellus
            risus urna, ornare in aliquam id, porttitor sit amet sapien. Nulla facilisi.</i>
        </p>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
  </div>






</div>
