<div class="container">

  <div class="jumbotron" style=" ">
    <div class="card-header">Sign up</div>
    <!--{{signupShadow}}-->
    <div class="card-body" style="text-align:center">
      <form (ngSubmit)="foramSubmit()" ngNativeValidate name="signup" (keyup)="signupListner()">
        <fieldset>
          <div class="form-group">
            <input class="form-control" required [pattern]="unamePattern" #uname="ngModel" [(ngModel)]="signup.username" name="username"
              type="text" id="username" placeholder="Username">

            <small *ngIf="errorShow" style="color:red">{{existingUsername}} </small>
            <div *ngIf="uname.errors" [ngClass]="'error'">
              <div *ngIf="uname.errors.required">
                User name required.
              </div>
              <div *ngIf="uname.errors.pattern">
                User name not valid.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input placeholder="Password" class="form-control" type="password" [(ngModel)]="signup.password" name="password" required
              [pattern]="pwdPattern" id="password" #pwd="ngModel">
            <div class="progress">
              <div class="progress-bar" [ngClass]="{'bg-danger':danger ,'bg-info':info,'bg-warning':warning} " role="progressbar" [style.width]="pwdLength"
                [attr.aria-valuenow]="pwdLength" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div *ngIf="pwd.errors" [ngClass]="'error'">
              <div *ngIf="pwd.errors.required">
                Password required.
              </div>
              <div *ngIf="pwd.errors.pattern">
                Password not valid.
              </div>
            </div>
          </div>
          <div class="form-group">
            <input #rpwd required class="form-control" [(ngModel)]="signup.retypePassword" name="retypePassword" type="password" id="retype-password"
              aria-describedby="" placeholder="Retype password">
            <small *ngIf='wrongpassword'>password dosen't match</small>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <input required class="form-control" [(ngModel)]="signup.firstname" name="firstname" type="text" id="firstname" aria-describedby=""
                  placeholder="First Name">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <input class="form-control" [(ngModel)]="signup.lastname" name="lasttname" type="text" id="lasttname" aria-describedby=""
                  placeholder="Last Name">
              </div>
            </div>
          </div>



          <div class="form-group">
            <input required class="form-control" [(ngModel)]="signup.school" name="school" type="text" id="school" aria-describedby=""
              placeholder="School">
          </div>

          <div class="form-group">
            <input required class="form-control" [(ngModel)]="signup.sid" name="sid" type="text" id="sid" aria-describedby="" placeholder="Student ID">
          </div>

          <div class="form-group">
            <input required class="form-control" [(ngModel)]="signup.dob" name="dob" type="date" id="dob" aria-describedby="">
          </div>

          <div class="form-group">
            <button [ngClass]="{'disabled':pwd.value !==rpwd.value}" type="submit" class="btn btn-secondary">Sign Up</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>