
.nav-bar-grad{
  background: #1D2B64;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-size: 220%;
  color: #000000;
}
.nav-item{
  margin-left: 30px;
}

